.frontpage {
    /*background-color: lightgrey;*/
    background-image: url("./assets/bg-img-01.jpg");
    font-family: sans-serif;
    text-align: center;
    margin: 30px 20%;
}

.closebtn {
    display: block;
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

#main-buttons {
    height: 60px;
}

#start {
    text-align: center;
}

.title1 {
    height: 40px;
    margin-top: 5px;
}

.validation-container {
    align-self: center;
    justify-self: center;
}

#account-validation {
    display: none;
    align-self: center;
    justify-self: center;

    font-size: 12px;
    background-color: yellow;
}

#transaction-validation {
    display: none;
    align-self: center;
    justify-self: center;

    font-size: 12px;
    background-color: yellow;
}


.startimage {
    width: auto;
    height: 100px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.response {
    height:30px;
    position: fixed;
    justify-self: center;
    bottom: 50px;
    width: 60%;
    color: white;
    text-align: center;
}
#account-response {
    font-size: 10px !important;
}

.language-javascript {
    word-break: break-word;
    overflow-wrap: break-word;
    text-align: left;
    border-radius: 5px;
    margin: 10px;
    background-color: white;
}

.language-javascript {
    overflow-wrap: break-word;
    text-align: left;
    border-radius: 5px;
    align-text: left;
    margin: 10px;
    background-color: white;
}

.token.keyword {
    color: #07a;
}

.token.operator {
    color: #a67f59;
}

.token.string {
    color: #690;
}

.token.punctuation {
    color: #999;
}

.token.keyword {
    color: #07a;
}

.prism .token.operator {
    color: #a67f59;
}

.token.boolean {
    color: #905;
}

.token.function {
    color: #dd4a68;
}

.h1 {
    font-size: 1rem;
}

#account-created {
    font-size: 10px !important;
    font-weight: bold;
}

.form-control {
    height: 20px;
}

.form-control-date {
    height: 40px;
}

#createAccount {
    display: none;
}

#registerTransaction {
    display: none;
}

#api {
    /*background-color: #f1f1ed;
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
    opacity: 90%;*/
    display: none;
}

.account-container {
    display: grid;
    height: 400px;
    grid-template-rows: 0.6fr 4fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.mbt {

    width: 60%;
    justify-self: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding:15px;
    margin:15px;
}

.language-javascript {
    border-radius:5px;
    align-content: center;
    margin: 10px;
    background-color: white;
}

.input-symbol-euro {
    position: relative;
}
.input-symbol-euro input {
    padding-left:18px;
}
.input-symbol-euro:after {
    position: absolute;
    top: 0;
    content:"€";
    left: 5px;
}

.form-control {
    background-color: #d6d8db;
    height:25px;
}

.form-controld {
    background-color: #d6d8db;
    height:25px;
    align-content: end;
}

#formGroupExampleInput {

}

#button {
    line-height: 12px;
    width: 18px;
    font-size: 8pt;
    font-family: tahoma;
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top:0;
    right:0;
}

.account-input-form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

/*https://developer.mozilla.org/en-US/docs/Web/CSS/grid-row-start*/
.account-title {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    align-content: center;
    grid-gap: 5px;
    font-size: 22px;
}

.lb1 {
    font-size: 13px;
    display: grid;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: start;
    align-content: center;
    justify-content: start;
    grid-gap: 5px;
}

#owner {
    display: grid;
    border-color: #4b5862;
    border-radius: 5px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: start;
    align-content: center;
    justify-content: start;
    grid-gap: 5px;
}

.lb2 {
    font-size: 13px;
    display: grid;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: start;
    align-content: center;
    justify-content: start;
    grid-gap: 5px;

}

#vataccount {
    display: grid;
    border-color: #4b5862;
    border-radius: 5px;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: start;
    align-content: center;
    justify-content: start;
    grid-gap: 5px;
}

.lb3 {
    font-size: 12px;
    display: grid;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: start;
    align-content: center;
    justify-content: start;
    grid-gap: 5px;
}

#country {
    display: grid;
    border-color: #4b5862;
    border-radius: 5px;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: start;
    align-content: center;
    justify-content: start;
    grid-gap: 5px;
}

.lb4 {
    font-size: 12px;
    display: grid;
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: start;
    align-content: center;
    justify-content: start;
    grid-gap: 5px;
}

#bank {
    display: grid;
    border-color: #4b5862;
    border-radius: 5px;
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: start;
    align-content: center;
    justify-content: start;
    grid-gap: 5px;
}

.lb5 {
    font-size: 13px;
    opacity: 90%;
    display: grid;
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: start;
    align-content: center;
    justify-content: start;
    grid-gap: 5px;
}

#iban {
    display: grid;
    border-color: #4b5862;
    border-radius: 5px;
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: start;
    align-content: center;
    justify-content: center;
    grid-gap: 5px;
}

.transaction-container {
    display: grid;
    height: 300px;
    grid-template-rows: 0.6fr 3fr 1.5fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.transaction-input-form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#btn1:hover {
    background-color: #c3b7b7;
}

#btn2:hover {
    background-color: #c3b7b7;
}

#btn3:hover {
    background-color: #c3b7b7;
}

.account-bottom-buttons {
    height: 30px;
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 0.5fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-content: center;
}

#btn2 {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    font-size: 1.2em;
    text-align: start;
    align-content: center;
    justify-content: center;;
}

#btn2:hover {
    background-color: #c3b7b7;
}

#btn3 {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    font-size: 1.2em;
    text-align: start;
    align-content: center;
    justify-content: center;
}

#btn3:hover {
    background-color: #c3b7b7;
}

#btn4 {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 4;
    grid-column-end: 4;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    font-size: 1.2em;
    text-align: center;
    align-content: center;
    justify-content: center;
}

#btn4:hover {
    background-color: #c3b7b7;
}

#vattransaction {
    display: grid;
    border-color: #4b5862;
    border-radius: 5px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: start;
    align-content: center;
    justify-content: start;
    grid-gap: 5px;
}

#description {
    display: grid;
    border-color: #4b5862;
    border-radius: 5px;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: start;
    align-content: center;
    justify-content: start;
    grid-gap: 5px;
}

#operationdate {
    height: 40px;
    font-size: 13px;
    display: grid;
    border-color: #4b5862;
    border-radius: 5px;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: start;
    align-content: center;
    justify-content: start;
    grid-gap: 5px;
}

#valuedate {
    height: 40px;
    font-size: 13px;
    display: grid;
    border-color: #4b5862;
    border-radius: 5px;
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: start;
    align-content: center;
    justify-content: start;
    grid-gap: 5px;
}

#amount {
    height: 25px;
    display: grid;
    border-color: #4b5862;
    border-radius: 5px;
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: start;
    align-content: center;
    justify-content: center;
    grid-gap: 5px;
}

.transaction-bottom-buttons {
    height: 30px;
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 0.5fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-content: center;
}

/*
.api-container{
    display: grid;
    grid-template-rows: 0.6fr 3fr 1.5fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}*/

/*.api-table {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}*/

.lb11 {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;

}

.lb12 {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2
}

.lb13 {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
}

.lb14 {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 4;
    grid-column-end: 4;
}

.api-bottom-buttons {
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 0.5fr;
    grid-template-columns: 1fr;
    align-items: center;
    align-content: center;
    text-align: center;
}

.stackedit {
    text-align: left;
    text-align: justify-all;
}

.api-bottom-buttons {
    display: grid;
    align-items: center;
    align-content: center;
    text-align: center;
}

#account-response {
    display: none;
    height: 30px;
    font-size: 12px;
}

#transaction-response {
    display: none;
    margin-bottom: 0px;
}

. language-javascript {
    font-size: .85em;
}

.token keyword {
    color: #07a;
}

.token operator {
    color: #a67f59;
}

.token string {
    color: #690;
}

#btn5 {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    font-size: 1.2em;
    text-align: center;
    align-content: center;
    justify-content: center;
}
#btn5:hover {
    background-color: #c3b7b7;
}

#btn6 {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    font-size: 1.2em;
    text-align: start;
    align-content: center;
    justify-content: center;;
}

#btn6:hover {
    background-color: #c3b7b7;
}

#btn7 {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    font-size: 1.2em;
    text-align: start;
    align-content: center;
    justify-content: center;
}

#btn7:hover {
    background-color: #c3b7b7;
}

#btn8 {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 4;
    grid-column-end: 4;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    font-size: 1.2em;
    text-align: center;
    align-content: center;
    justify-content: center;
}

#btn8:hover {
    background-color: #c3b7b7;
}