
/** MAIN LAYOUT **/

@font-face {
    font-family: 'ourFont';
    src: url(assets/lemon_milk/LEMONMILK-Regular.otf) format('opentype');
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.MainPage {
    background-color: #eceaea;
    font-family: 'ourFont';
    text-align: center;
    /** Grid 1 Parent **/
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    /*max-height: 100%;
     */
}

.intro--image {
    /* Grid 1 Child-Left */
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.landing--image {
    max-width: 100%;
    margin-top: -50px;
}

/** LANDING PAGE **/
.intro {
    /* Grid 1 Child-Right-1 */
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    display: grid;
    grid-template-rows: 0.05fr 1fr 1fr;
    z-index: 1;
}

.intro--title{
    font-size: 64px;
    margin-top: -20px;
    padding: 7% 10%;
}

.first--page {
    grid-row-start: 2;
    grid-row-end: 3;
}

.button-list {
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    grid-template-rows: 1fr 0.5fr 0.5fr;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    text-align: center;
}

.user--image {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 20px;
    width: 120px;
    justify-self: center;
}

.user--btn {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 30px 75px;
}

.invoice--image {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 20px;
    width: 120px;
    justify-self: center;
}

.invoice--btn {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 30px 75px;
}

.howto--btn {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 30px 75px;
    height: 50px;
}


/*** CREATE ACCOUNT ***/

.createAccount {
    /* Grid 1 Child-Right-2 */
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: none;
    margin-top: -350px;
    margin-left: 30px;
    margin-right: 30px;
    max-height: 50%;
}

.account--container{
    /* Grid
    grid-row-start: 2;
    grid-row-end: 3;
    */
    /* Grid inside */
    display: grid;
    grid-template-rows: 1fr 0.5fr 0.25fr 0.25fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.account--container--title {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    margin-top: 30px;
}

.account--container--subtitle{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: left;
    margin-top: 50px;
}

.account--container--input{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 18px;
}

.account--container--btn1{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
}

.account--container--btn2{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
}

.result {
    margin-top: 30px;
}

/*** INVOICE SECTION ***/

.registerInvoice {
    /* Grid 1 Child-Right-2 */
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: none;
    margin-top: -350px;
    margin-left: 30px;
    margin-right: 30px;
    /*
    grid-template-rows: 1fr 0.5fr;
    grid-template-columns: 1fr 1fr;
    max-height: 50%;

     */
}

.invoice--container{
    /* Grid
    grid-row-start: 2;
    grid-row-end: 3;
     */
    /* Grid inside */
    display: grid;
    grid-template-rows: 0.25fr 0.25fr 4.5fr 0.5fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    max-height: 50%;
}

.invoice--container--title{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
}

.invoice--container--subtitle{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
}

.invoice--container--btn1 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
}

.invoice--container--btn2 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
}

.invoice--container--form{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    text-align: left;
}

#clientVat--title{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}
#clientVat{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 5;
}

#firstName--title{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

#firstName{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
}

#lastName--title {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

#lastName {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
}

#address--title {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}

#address {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 5;
}

#invDate--title {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
}

#invDate {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 5;
}

#monthSupply--title {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 3;
}

#monthSupply {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 3;
    grid-column-end: 5;
}

#amount--title{
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 3;
}

#amount{
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 3;
    grid-column-end: 5;
}


/** HOW TO **/

.howto {
    display: none;
}

.API {
    margin: 10%;
    line-height: 26px;
    text-align: center;
}

.API h3{
    margin: 60px 0 20px 0;
    text-align: left;
}

.api--link {
    margin: 30px 0;
}

.api--vat {
    margin: 35px 0 20px 0;
}

.api--vat strong{
    background-color: white;
    padding: 8px 15px;
    border-radius: 8px;
}

.api--vat--msg {
    margin: 0 0 35px 0;
}

.API p {
    font-size: 14px;
    text-align: left;
}

.howto--btn--1 {
    margin: 30px 75px;
    width: 260px;
}

