body {
    background-color: #b3cdd9;
}

#AddVat {
    color: black;
    text-align: center;
    display: none;
    font-size: 20px;
}

#invoice {
    color: black;
    text-align: center;
    display: none;
    font-size: 20px;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#API {
    line-height: 24px;
    text-align: left;
    margin: 0 25%;
    font-size: 20px;
}